<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>643702061541-aeiteu88239hgbt41cu5eu7o17l55q0h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.643702061541-aeiteu88239hgbt41cu5eu7o17l55q0h</string>
	<key>API_KEY</key>
	<string>AIzaSyDXjhsps9nnLNINfpYz4IFNRKXgiwOBBEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>643702061541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.belajar-hokkian</string>
	<key>PROJECT_ID</key>
	<string>belajar-hokkian</string>
	<key>STORAGE_BUCKET</key>
	<string>belajar-hokkian.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:643702061541:ios:8a3219d3b6e97d4a</string>
	<key>DATABASE_URL</key>
	<string>https://belajar-hokkian.firebaseio.com</string>
</dict>
</plist>